
@{
    ViewBag.Title = "Home Page";
}

<!---------------------------------------------------------------------------------- Landing Page covid info ---------------------------------------------------------------->
<div class="HomeImage">

    <img id="img_logo" alt="Logo" src="@Url.Content("~/images/Image 11.png")" />
</div>

<!----------------------------------------------------------------------------------- Landing Page search info --------------------------------------------------------------->

<!--------------------------------------------------------------------------- Connect Travelers ------------------------------------------------------------------------------->
<div class="images" style="display: flex;  justify-content: space-between; margin: 50px;">
    <div class="image1">
       
        <img id="img_logo" alt="Logo" src="@Url.Content("~/images/Image 1.png   ")" /><img src="e:\net\bookinghotelroom\content\images\image 1.png" />

    </div>
    <div class="image2">

        <img id="img_logo" alt="Logo" src="@Url.Content("~/images/Image 2.png")" />

    </div>
    <div class="image3">

        <img id="img_logo" alt="Logo" src="@Url.Content("~/images/Image 3.png")" />

    </div>
</div>


<!------------------------------------------------------------------------------------------- Landing Page Explore Inida ------------------------------------------------------------------------>

<div class="Photo" style="display: flex; gap: 20px; margin: 50px; justify-content: space-between;">
    <div class="image4">

        <img src="~/images/Image 4.png" alt="">

    </div>
    <div class="image5">
        <img src="~/images/image 5.png" />
        
    </div>
    <div class="image6">
        <img src="~/images/image 6.png" />
        
    </div>
    <div class="image7">
        <img src="~/images/image 7.png" />
       
    </div>
    <div class="image8">
        <img src="~/images/image 8.png" />
        
    </div>
</div>